


.bio {
	padding-left: 15px;
}


.foot-container {
	padding-top: 60px;
}


#portfolio {
	margin-top: 35px;
}

@media only screen and (max-width: 640px) {
	body {
		padding-top: 65px;
	}
	
	.img-responsive {
    	max-width: 60%;
    }
}


@media only screen and (min-width: 641px) and (max-width: 768px) {
	body {
	        padding-top: 60px;
	    }
}


@media only screen and (min-width: 769px) and (max-width: 980px) {
	body {
		padding-top: 60px;
	}

	.img-responsive{
    	width: 300px;
    }
}


@media (min-width: 981px) {
    body {
        padding-top: 60px;
    }

    .img-responsive{
    	max-width: 60%;
    }
}
